storage_account_name = "<state-storage-account>"
container_name       = "tfstate"
key                  = "clients/exampleco/dev/logging-central-byo.tfstate"
resource_group_name  = "<state-rg>"
subscription_id      = "<msp-subscription-id>"

