---
# Encrypt this file with Ansible Vault
secrets:
  api_token: "{{ client_api_token | default('') }}"
  ssh_private_key_path: "{{ client_config_dir }}/keys/{{ client_name }}_id_{{ ssh_key_type }}"

