---
tier: foundation
settings:
  monitoring_interval: {{ foundation_settings.monitoring_interval }}
  backup_frequency: {{ foundation_settings.backup_frequency | to_json }}
  compliance_scan_frequency: {{ foundation_settings.compliance_scan_frequency | to_json }}

